@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

<div id="root"></div>* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background: #efe6d8;
  color: #222;
}